<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <ng-container *ngFor="let crumb of breadcrumbList; let i = index; let last = last">
      <li class="breadcrumb-item" [attr.aria-current]="last ? 'page' : null" [ngClass]="{ 'active': last }">
        <ng-container *ngIf="last; else linkItem">
          {{ crumb }}
        </ng-container>
        <ng-template #linkItem>
          <a href="#" (click)="breadcrumbClick(i)">
            {{ crumb }}
          </a>
        </ng-template>
      </li>
    </ng-container>
  </ol>
</nav>

<table class="table table-hover">
  <thead>
    <tr>
      <!-- <th scope="col"></th> -->
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of dirEntries">
      <tr [class.selected]="selectedEntry === entry" (click)="singleClick(entry)" (dblclick)="doubleClick(entry)">
        <td>
          <i *ngIf="entry.isFolder" class="bi-folder-fill"></i>
          <i *ngIf="!entry.isFolder" class="bi-file-earmark"></i>
          {{ entry.name }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
