<div class="p-5" style="width: 600px;">
  <!-- Actual search box -->
  <div class="form-group has-search">
    <span class="bi-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
  </div>

  <!-- Another variation with a button -->
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Advanced Search">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button">
        <i class="bi-search"></i>
      </button>
    </div>
  </div>
</div>
